.env
.env.local

chroma_db/

data/Rules_normalized.txt
data/Rules_chunks.json

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store
.AppleDouble
.LSOverride

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

.venv/
venv/
ENV/
env/
ENV_DIR/

.vscode/

.idea/

*.swp
*.swo
*~